{erl_opts, [debug_info]}.

{deps, [
  %% serialization formats (basic profile)
  {thoas,     "1.2.1"},
  {bert,      "0.2.1"},
  {msgpack,   "0.8.1"},
  %% utils
  {maps_utils,
    {git, "https://github.com/xentelar/maps_utils.git", {tag, "1.0.0"}}
  },
  {key_value,
    {git, "https://github.com/xentelar/key_value.git", {tag, "1.1.0"}}
  }
]}.

{relx, [{release, {xwamp, "0.1.0"},
  [
    kernel,
    stdlib,
    thoas,
    bert,
    msgpack,
    maps_utils,
    key_value,
    xwamp
  ]}
]}.